# MARCH 21 6-9 Data Structures - LIST exercises - JS

In [7]:
aSampleStack = [2,3,5,2,1,5,33,22,53,113,65,22]
# stack can pop or push values - 
print (aSampleStack) # display original list
poppedValue = aSampleStack.pop()   #strikes out the last value temporarily
print(poppedValue) # display the value popped
print(aSampleStack) # display the list after popping out one value
slicedList = aSampleStack[2:5] # gives the 3rd till 4th
print (slicedList)

[2, 3, 5, 2, 1, 5, 33, 22, 53, 113, 65, 22]
22
[2, 3, 5, 2, 1, 5, 33, 22, 53, 113, 65]
[5, 2, 1]

In [72]:
# assignment - make a TODO list - and then ask if the task is completed - and then move those completed task to COMPLETED task list
###ToDoList = ['Roti','Pampers', 'Chips', 'Milk']   #List of all tasks
print (ToDoList)

'''take input from user if the task is completed - if so, add remove task and move to CompletedList'''
print(len(ToDoList))
### ask if the task is completed


if len(ToDoList)!=0:
    Status = input ('Is the following task completed?')
    if Status == 'y':
        CompletedList.append(ToDoList.pop())
else: print ('No More pending Tasks')

print('pending tasks are ', ToDoList)
print('Completed tasks are ', CompletedList)

print(len(CompletedList), len(ToDoList))

###if len(ToDoList)>0

[]
0
No More pending Tasks
pending tasks are  []
Completed tasks are  ['Milk', 'Chips', 'Pampers', 'Roti']
4 0

In [73]:
### assignment - make a TODO list - and then ask if the task is completed - and then move those completed task to COMPLETED task list
ToDoList = ['Roti','Pampers', 'Chips', 'Milk']   #List of all tasks
print (ToDoList)
CompletedList=[]

['Roti', 'Pampers', 'Chips', 'Milk']

In [78]:
# loops
for num in range(5):
    print(num, 'Jibran Syed')

0 Jibran Syed
1 Jibran Syed
2 Jibran Syed
3 Jibran Syed
4 Jibran Syed

In [84]:
# defining ranges starting from a number and ending on another number
for a in range(1,9):
    print(a,'Jibran')

1 Jibran
2 Jibran
3 Jibran
4 Jibran
5 Jibran
6 Jibran
7 Jibran
8 Jibran

In [88]:
#more functions using loops
foods = ['Pasta', 'Biryani', 'Tikka']
for food in foods:
    print(food)

Pasta
Biryani
Tikka

In [90]:
#more functions using loops
for food in ['Pasta', 'Biryani', 'Tikka']:
    print(food)

Pasta
Biryani
Tikka

In [93]:
name = 'Jibran'
print('Title >>', name.title())
print('Upper >>', name.upper())
print('Lower >>', name.lower())

Title >> Jibran
Upper >> JIBRAN
Lower >> jibran

In [102]:
classAttendance = ['Jibran', 'Wasit', 'Farrukh', 'JHK']
for attendance in classAttendance:
    print(attendance.title(),' is Present today!')

Jibran  is Present today!
Wasit  is Present today!
Farrukh  is Present today!
Jhk  is Present today!

In [105]:
brands = ['Levis','OutFitter','Mango','Nike']
for brand in brands:
    print('I wear', brand)

I wear Levis
I wear OutFitter
I wear Mango
I wear Nike

In [109]:
for i in range (1,9): # conventional Range usage indentifying to start from 1 instead of 0
    print(i)

1
2
3
4
5
6
7
8

In [119]:
for i in range (1,9,2): # added STEPS - move from 1 to 9, but move 2 numbers at a time
    print(i)

1
3
5
7

In [122]:
for i in range (19,9,-1): # added STEPS - move from 19 to 9, but move -1 numbers at a time
    print(i)

19
18
17
16
15
14
13
12
11
10

In [124]:
for i in 'Q', 'W','e','i','o': # can define the range this way also - single and doubble quote both work
    print(i)

Q
W
e
i
o

In [139]:
#print square of the list of numbers from 1 till 10
FullList =[] #define a list
for myList in range(1,11):
    Squared=myList*myList
    FullList.append(Squared) #add the squared value to the list
    print(FullList) #print the list
    
print(sum(FullList))
print(max(FullList))
print(min(FullList))

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385
100
1

In [140]:
Squared=0
#print square of the list of numbers from 1 till 10
for myList in range(1,11):
    Squared=myList**2 ## raise to power 2
    print(Squared)

1
4
9
16
25
36
49
64
81
100

In [142]:
for char in 'Pakistan': # each character shall be printed seperately - as no more strings given
    print(char)

P
a
k
i
s
t
a
n

In [146]:
for char in 'Pakistan','USA': # Individual strings printed as two strings given (instead of characters)
        print(char)

Pakistan
USA

In [153]:
for alPh in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(alPh)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

# LIST COMPREHENSION

In [156]:
#we make a list and we code the entire thing within it
[x**2 for x in range(1,11)]
#Jo result show karana hoga wo FOR loop say PEHLAY hoga - x**2 in this cacse

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [158]:
#we make a list and we code the entire thing within it
[alPha for alPha in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ']
#Jo result show karana hoga wo FOR loop say PEHLAY hoga - alPha in this cacse

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [161]:
[x**2 for x in range (1,11)] #squares numbers between 1 and 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [162]:
[x**2 for x in range (1,11) if x%2==0] #only show squares of EVEN numbers between 1 and 10 - more conditions can be addded also

[4, 16, 36, 64, 100]

In [164]:
#Make a list comprehension with 5 numbers - match the number for any one and print it's square
[x**2 for x in range (1,11) if x==5]

[25]

In [180]:
#Make a list comprehension with 5 numbers - match the number for any one and print it's square
[x**2 for x in range (1,11) if xy=input('please enter a number:') in x]

please enter a number:1

TypeError: argument of type 'int' is not iterable